*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html{
    font-size: 62.5%;
}

.clear{
    clear: both;
}


h1{
    font-size: 2.8rem;
}
h2{
    font-size: 3.6rem;
    padding: 5rem 0rem;
}
a{
    color: black;
    font-size: 2.4rem;
    color: white;
}

h3{
    font-size:2.8rem;
}

button{
    font-size: 1.8rem;
}

nav{
    background: rgb(59, 76, 93);
    color: white;
    padding: 3rem;
}

nav h1{
    float: left;
}
nav ul{
    float: right;
}

nav li{
    float: left;
    margin: 0rem 4rem;
}

.hero{
    background-image: url("/pexels-pixabay-461428.jpg");
    height: 80rem;
    background-position: right;
    background-size: cover;
    text-align: center;
    color: white;
    padding-left: 40rem;
    padding-top: 20rem;
    text-shadow: 3px 3px 10px black;
}

.hero button{
    margin-top: 4rem;
    padding: 1rem 4rem;
    background: rgb(33, 104, 174);
    border: none;
    color: white;
    cursor: pointer;
}

.form-section{
    text-align: center;
}

form{

}
form input,form label,form textarea{
    display: block;
    font-size: 2.4rem;
    
} 
form input,
form textarea{
    margin:2rem auto;
    width: 50%;
}

form button {
    margin-bottom: 10rem;
    padding: 1rem 4rem;
    background: rgb(33, 104, 174);
    border: none;
    color: white;
    cursor: pointer;
    width: 50%;
}